

<form method="post">
    <p>Address</p>
    <input type="text" name="Address" />

    <p>City</p>
    <input type="text" name="City" />

    <p>State</p>
    <input type="text" name="State" />

    <p>Price</p>
    <input type="number" name="Price" />
    
    <p>Quantity</p>
    <input type="number" name="Quantity" />

    <p>Description</p>
    <input type="text" name="Description" />

    <input type="submit" />

</form>